@import "src/styles/variables.scss";

.sliderWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding-bottom: 5px;

  .padNumber {
    color: $text-dark;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
  }

  .slider {
    height: 100%;
  }

  .icon {
    font-size: 36px;
  }
}
