@import "src/styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  overflow-x: hidden;
  color: #aaa;

  .topPanel {
    display: flex;
    position: relative;
    height: 100%;
  }

  .bottomPanelOuter {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    padding-top: 0;

    .bottomPanelMiddle {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .viewButtonContainer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        max-width: 150px;

        .viewButton {
          width: 36px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;

          .btnIcon {
            font-size: 2rem;
            color: #aaa;
          }

          .active {
            color: $primary-purple;
          }
        }
      }
    }

    .bottomPanelInner {
      display: flex;
      gap: 5px;
      height: fit-content;
      color: $text-light;
      height: 100%;
      max-height: 300px;
    }
  }

  @media (min-width: 769px) {
    .topPanel {
      // height: 55%;
      // overflow: auto;
    }

    .bottomPanelOuter {
      height: 100%;
      overflow: auto;
    }
  }

  @media (min-width: 481px) {
    .topPanel {
      // max-height: 55vh;
    }

    .bottomPanelOuter {
      height: 45vh;

      .bottomPanelMiddle {
        flex-direction: row;
      }

      .bottomPanelInner {
        height: 100%;
        overflow: auto;
      }
    }
  }

  @media (max-width: 480px) {
    .topPanel {
      max-height: 50vh;
      overflow: hidden;
    }

    .bottomPanelOuter {
      height: 50vh;
      overflow: hidden;

      .bottomPanelMiddle {
        flex-direction: column;
        padding: 0.25rem 0 0.25rem 0;
      }

      .bottomPanelInner {
        height: 100%;
        overflow: auto;
      }
    }
  }
}
