@import "src/styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;
  overflow: hidden;

  .topPanel {
    display: flex;
    position: relative;
    // height: 55%;
  }

  .bottomPanelOuter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 45%;
    padding: 5px;

    .bottomPanelInner {
      display: flex;
      height: 100%;
      color: $text-light;
    }
  }

  @media (min-width: 769px) {
    .topPanel {
      height: 55%;
      overflow: hidden;
    }

    .bottomPanelOuter {
      height: 45%;
      overflow: hidden;
    }
  }

  @media (min-width: 481px) {
    .topPanel {
      height: 60vh;
      overflow: hidden;
    }

    .bottomPanelOuter {
      height: 40vh;
      overflow: hidden;
    }
  }

  @media (max-width: 480px) {
    .topPanel {
      height: 45vh;
      overflow: hidden;
    }

    .bottomPanelOuter {
      height: 55vh;
      overflow: hidden;
    }
  }
}
