@import "src/styles/variables.scss";

.EQ3Container {
  background: $surface-1;
  border-radius: 5px;
  border: 1px solid #222;
  padding: 10px;
  max-width: fit-content;
  overflow: auto;

  .knobsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .knobRow {
      display: flex;
      justify-content: space-evenly;
    }

    .gridItem {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;

      label {
        font-size: 0.75rem;
      }
    }
  }
}
