.timeline::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #888; /* or add it to the track */
  opacity: 0.1;
}

.timeline::-webkit-scrollbar-thumb {
  background: #555;
}

.timeline::-webkit-scrollbar-track {
  border-radius: 2px;
}

.timeline::-webkit-scrollbar-track-piece {
  border-radius: 2px;
}

.timeline::-webkit-scrollbar-corner {
  background-color: #222;
}
