.container {
  border-radius: 6px;
  max-width: 100%;
  height: 100%;

  .container::-webkit-scrollbar {
    display: none;
  }

  svg {
    border-radius: inherit;
  }

  .bandPoint:hover {
    stroke: #ccc;
    r: 6;
  }
}
