.projectDataDisplayContainer {
  color: #555;
  font-family: "Inter";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 24px;
  gap: 1rem;
  height: 100%;
  border-radius: 5px;

  .item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    flex-wrap: nowrap;
    width: 100%;

    input {
      align-items: flex-end;
      font-size: 28px;
      background: transparent;
      padding: 0;
      border: none;
      color: #555;
      display: "flex";
      width: 64px;
      outline: none;
      text-align: center;
    }

    input.small {
      width: 32px;
    }
  }
}
