@import "./variables.scss";
@import "./inter.scss";
@import "./scrollbar.scss";

html,
body {
  margin: 0;
  box-sizing: border-box;
  background: $surface-0;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif, "Arial";
}

.ant-slider-handle::before,
.ant-slider-handle::after {
  display: none;
}

.ant-btn-default {
  box-shadow: none;
}
