.ant-tabs-nav-add,
.ant-tabs-tab {
}

.ant-tabs-tab-remove {
  padding: 0.4rem;
  margin: 0 !important;
}

.ant-tabs-tab {
  padding: 2px !important;
  font-size: 14px !important;
}

.ant-tabs-nav {
  margin-bottom: 5px !important;
}
