.mixer {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  padding-right: 5px;
  min-height: 320px;
  gap: 4px;

  .channels {
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    margin-bottom: 2px;
    overflow-y: hidden;
    align-items: flex-start;
    gap: 4px;
    padding: 5px;
    padding-top: 0;
  }
}
