@import "src/styles/variables.scss";

@media (max-width: 823px) {
  .hideOnSmallScreens {
    display: none;
  }
}

@media (min-width: 824px) {
  .hideOnMediumScreens {
    display: none;
  }
}

.projectDataModal {
  background: $surface-1;
  color: $text-light;
}

.paddingZero {
  padding: 0;
}
