.addTrackButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 6px;
  background: transparent;
  color: #333;

  .icon {
    font-size: 3rem;
  }
}

.addTrackButton.expanded {
  justify-content: center;
}

.addTrackButton:hover {
  color: #555;
  // border: 3px solid #555;
  background: transparent;
}
