.modal {
  padding: 0;

  .innerContainer {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    justify-content: space-evenly;
    color: #aaa;
  }
  .effectViewContainer {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 768px) {
    .innerContainer {
      flex-direction: column;
      gap: 0.5rem;
    }

    .effectViewContainer {
      width: 100%;
    }
  }
}
