@import "src/styles/variables.scss";

.listBoxContainer {
  width: 100%;

  .listBox {
    border: 1px solid #444;
    padding: 0.25rem;
    height: 200px;
    overflow: auto;
    border-radius: $border-radius-med;
  }
}
