@import "src/styles/variables.scss";

.transport {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;

  .transportButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius-med;
    background: $surface-1;
    border: none;
    color: $text-light;
    height: 2rem;
    width: 2rem;
  }

  .zoomControl {
    color: $text-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    height: 2rem;
    width: 2rem;
  }

  .elipsis {
    color: $text-dark;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background: transparent;
    width: 2rem;
    border: none;
  }

  .transportButton:hover {
    opacity: 0.5;
  }
}

@media (max-width: 899px) {
  .transport {
    width: 100%;
  }

  .elipsis {
    display: flex;
  }
}

@media (min-width: 900px) {
  .elipsis {
    display: none;
  }
}
